
.padding_left_x5{
    padding-left: 5px;
}

.padding_left_x15{
    padding-left: 15px;
}

.padding_left_x35{
    padding-left: 35px;
}

.padding_left_x75{
    padding-left: 75px;
}

.padding_left_x250{
    padding-left: 250px;
}

.padding_left_x500{
    padding-left: 500px;
}

.padding_right_x50{
    padding-right: 50px;
}

.padding_right_x100{
    padding-right: 100px;
}

.padding_right_x200{
    padding-right: 200px;
}

.padding_right_x500{
    padding-right: 500px;
}

.cards_productos{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards_presentacion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    justify-items: center;
    margin: 20px;
}

.center{
    justify-items: center;
}

.border-color{
    background-color:rgb(185, 72, 72);
    border-bottom-width: 5px;
    border-bottom-color: black;
}

.navbar
{
    border-bottom:5px solid #000;
}

.user-name{
    padding-left: 35px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.logout-mensaje{
    text-align: center;
    color: black;
}