
.padding_left_x5{
    padding-left: 5px;
}

.padding_left_x15{
    padding-left: 15px;
}

.padding_left_x35{
    padding-left: 35px;
}

.padding_left_x500{
    padding-left: 500px;
}

.padding_right_x50{
    padding-right: 50px;
}

.padding_right_x100{
    padding-right: 100px;
}

.padding_right_x200{
    padding-right: 200px;
}

.cards_productos{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards_presentacion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    justify-items: center;
    margin: 20px;
}

.center{
    justify-items: center;
}

