{% extends 'padre.html' %}

{% block header_consultas %}
    <h1 class="mb-5" style="color: rgb(57, 50, 100);"> Acerca de mi </h1>
{% endblock header_consultas %}

{% block consulta %}

    <br>

    <div class="padding_left_x15" style="color: black;">
        <div style="font-size: 20px;">
            <p>
                Mi nombre es Federico Paal, soy alumno de CoderHouse e hice el curso de programación de "Python" para desarrollo web. 
                <br>
                En este ambiente soy nuevo e inexperto en cuanto a la programacion pero estoy intentando que funcione y que resulte lo mejor posible.
                <br> 
                Diseñe esta página ya que me gusta leer y tambien me resulta llamativo el hecho de que los comics y revistas antiguas tienen estos colores
                 caracteristicos con sus onomatopeyas y demás
            </p>
        </div>
    </div>


{% endblock consulta %}