{% extends 'padre.html' %}

{% block header_consultas %}
    <h1 class="mb-5"> Agregar Avatar </h1>
{% endblock header_consultas %}

{% block consulta %}

<div class="padding_left_x15">
    <form action="{% url 'Agregar_Avatar' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
        <div>
            <h5> Su Avatar:</h5>
            {{mi_formulario.as_p}}
            <button type="submit"> Cambiar </button>
        </div>
    </form>
</div>

<p> {{mensaje}} </p>

{% endblock consulta %}