{% extends 'padre.html' %}

{% block header_inicio %}
    <h1 class="mb-5" style="color: rgb(68, 60, 119);"> Agregar Novedades </h1>
{% endblock header_inicio %}

{% block inicio %}
    
    {% if user.staff %}
    <div class="padding_left_x5" style="color: black;">
        <h1> Agregue novedades aqui: </h1>
    </div>
    <div class="padding_left_x15" style="color: black;">
        <form action="{% url 'Agregar_Novedades' %} " method="post" enctype="multipart/form-data">{% csrf_token %}
            <div style="font-size: 20px;">        
                <table style="margin: 10px">
                    {{mi_formulario.as_table}}
                </table>
            </div>
            <button type="submit"> Enviar </button>
        </form>   
        
    {% endif %}
         
    <br>

{% endblock inicio %}