{% extends 'padre.html' %}

{% block header_login %}
    <h1 class="mb-5" style="color: rgb(57, 50, 100);"> Tu Carrito de Compras </h1>
{% endblock header_login %}

{% block novedad %}
     




    {% if user.cliente %}

        <!-- Carrito de Compras -->
    <div class="alert alert-primary" role="alert" style="background-color: rgb(51, 131, 197); border-color: black; border-width: 5px; margin-top: 75px;">
    <table class="table table-bordered" style="border-color: rgb(51, 131, 197);">
        <thead>
            <tr>
                <th scope="row" colspan="4" class="text-center" style="color: black; font-size: 20px;"> CARRITO </th>
            </tr>
            <tr style="color: black; font-size: 18px;">
                <th scope="col"> Titulo </th>
                <th scope="col"> Precio </th>
                <th scope="col"> Cantidad </th>
                <th scope="col"> Subtotal </th>
            </tr>
        </thead>
        <tbody>
            
            {% if productos.items %}
                
                {% for key, value in productos.items %}
                    <tr>
                        <td> {{value.titulo}} </td>
                        <td> $ {{value.precio}} </td>
                        <td> {{value.cantidad}} </td>
                        <td> $ {{value.acumulado}}
                            <a href="{% url 'Agregar_' value.producto_id %}" class="badge btn btn-dark badge-dark"> + </a>
                            <a href="{% url 'Restar_' value.producto_id %}" class="badge btn btn-dark badge-dark"> - </a>
                        </td>
                    </tr>
                {% endfor %}
            
            {% else %}
                <tr>
                    <td colspan="4">
                        <div class="alert alert-danger text-center" style="background-color:rgb(151, 200, 233); color: black; border-color: black;"> Sin productos </div>
                    </td>
                </tr>

            {% endif %}
                <tr style="color: black; font-size: 18px;">
                    <th scope="col">  </th>
                    <th scope="col">  </th>
                    <th scope="row" style="text-align: right;"> Total: </th>
                    
                    {% if mensaje %}
                        <td colspan="4"> $ {{0}} </td>
                    {% else %}
                        <td colspan="4"> $ {{importe_total}} </td>
                    {% endif %}
                        
                </tr>
        </tbody>
    </table>
    <hr>
    </div>
    <div class="row text-center" style="margin: 15px">
        <div class="col-6"> <a href="{% url 'Limpiar_' %}" class="btn btn-danger"> Limpiar </a> </div>
        <div class="col-6"> <a href="{% url 'Comprar' %}" class="btn btn-dark"> Comprar </a> </div>
    </div> 
        

    {% endif %}


{% endblock novedad %}