{% extends 'padre.html' %}

{% block header_login %}
    <h1 class="mb-5"> Tu Carrito de Compras </h1>
{% endblock header_login %}

{% block novedad %}

    <div class="padding_left_x5">
        <h3> Aqui tenes tu carrito: </h3>
    </div>
    
    <div class="my-order-content">
      
      <div class="shopping-cart">
        <figure>
          <img src="https://static.wikia.nocookie.net/batman/images/1/17/Batman_Vol.1_1.jpg/revision/latest?cb=20171106121437&path-prefix=es" width="250" height="400">
        </figure>
        <p> Batman Vol 1 </p>
        <p> $2000.00 </p>
        </div>
    </div>
{% endblock novedad %}