{% extends 'padre.html' %}

{% block header_login %}
    <h1 class="mb-5" style="color: rgb(57, 50, 100);"> Tu Carrito de Compras </h1>
{% endblock header_login %}

{% block novedad %}
    
    <section class="cards_presentacion">
        
            {% for producto in lista_carrito %}

                <div class="card" style="width: 18rem;">
                    <img src="{{producto.imagen.url}}" width=285.5 height=375 alt="imagenes_comics">
                    <div class="card-body" style="background-color:rgb(151, 200, 233);">
                    <h5 class="card-title"> {{producto.titulo}} </h5>
                    <p class="card-text"> {{producto.precio}} </p>
                    </div> 
                </div>

            {% endfor %}  
        

    </section>

    <div style="text-align: center">
        <a href="{% url 'Comprar' %}" class="btn btn-dark" style="margin: 20px"> Comprar </a>
    </div>


{% endblock novedad %}