{% extends 'padre.html' %}

{% block header_login %}
    <h1 class="mb-5" style="color: rgb(57, 50, 100);"> Registrate aqui! </h1>
{% endblock header_login %}

{% block novedad %}

    <form action="{% url 'Crea_Cliente' %}" method="post">{% csrf_token %}
        <div class="padding_left_x15" style="color: black;">
            <h5>
                Escriba los datos para su registro:
            </h5>
        </div>
        <div class="padding_left_x5" style="color: black;">

            {{mi_formulario.as_p}}
            {{userForm.as_p}}

            <button type="submit"> Ingresar </button>
        </div>

    </form>

{% endblock novedad %}