{% extends 'padre.html' %}

{% block header_consultas %}
    <h1 class="mb-5" style="color: rgb(57, 50, 100);"> Haga sus Consultas! </h1>
{% endblock header_consultas %}

{% block consulta %}
<div class="padding_left_x5" style="color: black;">
    <h1> Formulario de Consultas </h1>
</div>
<div class="padding_left_x15" style="color: black;">
    <form action="{% url 'Consultas' %}" method="post">{% csrf_token %}
        <div style="font-size: 20px;">
            <table style="margin: 10px">
                {{mi_formulario.as_table}}
            </table>
            <div class="padding_left_x250">
                <button type="submit"> Enviar </button>
            </div>
        </div>
    </form>
</div>

<br>

{% endblock consulta %}