{% extends 'padre.html' %}

{% block header_inicio %}
    <h1 class="mb-5" style="color: rgb(68, 60, 119);"> Detalles del Libro </h1>
{% endblock header_inicio %}


{% block inicio %}
    
    
    {% if user.cliente and not user.cliente or not user.staff %}
        {% if libro %}
                <div style="padding-top: 15px;">
                    <div class="card mb-3" style="max-width: 900px; margin: auto; background-color:rgb(151, 200, 233);">
                        <div class="row g-0">
                            <div class="col-md-4">
                            <img src="{{libro.imagen.url}}" class="img-fluid rounded-start" alt="imagenes_comics">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body" style="font-size: 20px; color: black;">
                                <p class="card-title"> Titulo: {{libro.titulo}} </p>
                                <p class="card-text"> Autor: {{libro.autor}} </p>
                                <p class="card-text"> Precio: $ {{libro.precio}} </p>
                                <p class="card-text"> Dia agregado: {{libro.creacion}} </p>
                                <p class="card-text"> Sobre el libro: </p>
                                <p class="card-text" style="padding-left: 10px;"> {{libro.texto}} </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

        {% endif %}
    {% endif %}
        
    
    {% if user.staff %}
        {% if libro %}
                <div style="padding-top: 15px;">
                    <div class="card mb-3" style="max-width: 900px; margin: auto; background-color:rgb(151, 200, 233);">
                        <div class="row g-0">
                            <div class="col-md-4">
                            <img src="{{libro.imagen.url}}" class="img-fluid rounded-start" alt="imagenes_comics">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body" style="font-size: 20px; color: black;">
                                <p class="card-title"> Titulo: {{libro.titulo}} </p>
                                <p class="card-text"> Autor: {{libro.autor}} </p>
                                <p class="card-text"> Precio: $ {{libro.precio}} </p>
                                <p class="card-text"> Dia agregado: {{libro.creacion}} </p>
                                <p class="card-text"> Sobre el libro: </p>
                                <p class="card-text" style="padding-left: 10px;"> {{libro.texto}} </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

        {% endif %}
    {% endif %}



{% endblock inicio %}