{% extends 'padre.html' %}

{% block header_login %}
    <h1 class="mb-5" style="color: rgb(57, 50, 100);"> Editar Merchandising </h1>
{% endblock header_login %}

{% block novedad %}

    <div class="padding_left_x15" style="color: black;">
        <form action="{% url 'Editar_Merchandisings' id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div style="font-size: 20px;">
                <table style="margin: 10px">
                    {{mi_formulario.as_table}}
                </table>
                <div class="padding_left_x250">
                    <button type="submit"> Actualizar </button>
                </div>
            </div>
        </form>
    </div>

{% endblock novedad %}