{% extends 'padre.html' %}

{% block header_libro %}
    <h1 class="mb-5"> Bienvenido a nuestros Libros! </h1>
{% endblock header_libro %}


{% block libro %}
<div class="padding_left_x5">
    <h1> Formulario de Libros </h1>
</div>
<div class="padding_left_x15">
    <form action="{% url 'Libros' %}" method="post">{% csrf_token %}
        
        {{mi_formulario.as_p}}

        <button type="submit"> Enviar </button>
    </form>
</div>

<br>

<section class="cards_presentacion">
        <div class="card" style="width: 18rem;">
            <img src="https://static.wikia.nocookie.net/batman/images/1/17/Batman_Vol.1_1.jpg/revision/latest?cb=20171106121437&path-prefix=es"  alt="">
            <div class="card-body">
            <h5 class="card-title"> Batman Vol 1 </h5>
            <p class="card-text"> $2000.00 </p>
            <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-primary"> Añadir al carrito </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://static.wikia.nocookie.net/marvel_dc/images/6/6a/Batman_2.jpg/revision/latest?cb=20141004170008"  alt="" height=440>
            <div class="card-body">
            <h5 class="card-title"> Batman Vol 2 </h5>
            <p class="card-text"> $2000.00 </p>
            <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-primary"> Añadir al carrito </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://static.wikia.nocookie.net/marveldatabase/images/8/88/Hulk_Vol_1_1.jpg/revision/latest?cb=20200505012644"  alt="">
            <div class="card-body">
            <h5 class="card-title"> Hulk Vol 1 </h5>
            <p class="card-text"> $2200.00 </p>
            <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-primary"> Añadir al carrito </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://static.wikia.nocookie.net/spiderman/images/7/75/Amazing_Spider-Man_Vol_1_1.png/revision/latest?cb=20190312224741&path-prefix=es"  alt="">
            <div class="card-body">
            <h5 class="card-title"> Spider-Man Vol 1 </h5>
            <p class="card-text"> $2000.00 </p>
            <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-primary"> Añadir al carrito </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://static.wikia.nocookie.net/marvel/images/9/9f/Captain_America_Comics_Vol_1_1.jpg/revision/latest?cb=20191109194648&path-prefix=es"  alt="">
            <div class="card-body">
            <h5 class="card-title"> Capitan América Vol 1 </h5>
            <p class="card-text"> $2200.00 </p>
            <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-primary"> Añadir al carrito </a>
            </div>
        </div>

</section>

{% endblock libro %}

