{% extends 'padre.html' %}

{% block header_libro %}
    <h1 class="mb-5" style="color: rgb(57, 50, 100);"> Nuestros Libros </h1>
{% endblock header_libro %}


{% block libro %}


{% if user.cliente %}

    <section class="cards_presentacion">
        {% for libro in libros %}
            <div class="card" style="width: 18rem;">
                <img src="{{libro.imagen.url}}" width=285.5 height=375 alt="imagenes_comics">
                <div class="card-body" style="background-color:rgb(151, 200, 233);">
                    <h5 class="card-title"> {{libro.titulo}} </h5>
                    <p class="card-text"> {{libro.precio}} </p>
                <div style="text-align: center">
                    <a href="{% url 'Agregar_' libro.id %}" class="btn btn-dark"> Agregar al carrito </a>
                </div>
                </div>
            </div>
        {% endfor %}


{% endif %}


{% if not user.cliente and not user.staff  %}

    <section class="cards_presentacion">
            {% for libro in libros %}

            <div class="card" style="width: 18rem;">
                <img src="{{libro.imagen.url}}" width=285.5 height=375 alt="imagenes_comics">
                <div class="card-body" style="background-color:rgb(151, 200, 233);">
                <h5 class="card-title"> {{libro.titulo}} </h5>
                <p class="card-text"> {{libro.precio}} </p>
                <div style="text-align: center">
                    <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-dark"> Agregar al carrito </a>
                </div>
                </div>
            </div>

            {% endfor %}
    </section>

{% endif %}


{% if user.staff %}

    <section class="cards_presentacion">
        {% for libro in libros %}

            <div class="card" style="width: 18rem;">
                <img src="{{libro.imagen.url}}" width=285.5 height=375 alt="imagenes_comics">
                <div class="card-body" style="background-color:rgb(151, 200, 233);">
                <h5 class="card-title"> {{libro.titulo}} </h5>
                <p class="card-text"> {{libro.precio}} </p>
                <div style="text-align: center">
                    <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-dark"> Agregar al carrito </a>
                </div>
                </div>
            </div>

        {% endfor %}
    </section>

{% endif %}


{% endblock libro %}

