{% extends 'padre.html' %}

{% block header_merchandising%}
    <h1 class="mb-5" style="color: rgb(57, 50, 100);"> Nuestro Merchandising </h1>
{% endblock header_merchandising %}


{% block merchandising %}


{% if user.cliente %}

    <section class="cards_presentacion">
            {% for merch in merchs %}

                <div class="card" style="width: 18rem;">
                    <img src="{{merch.imagen.url}}" height=300 alt="">
                    <div class="card-body" style="background-color:rgb(151, 200, 233);">
                    <h5 class="card-title"> {{merch.nombre}} </h5>
                    <p class="card-text"> {{merch.precio}} </p>
                    <div style="text-align: center">
                        <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-dark"> Añadir al carrito </a>
                    </div>
                    </div>
                </div>

            {% endfor %}
    </section>

{% endif %}


{% if not user.cliente and not user.staff %}

    <section class="cards_presentacion">
            {% for merch in merchs %}

                <div class="card" style="width: 18rem;">
                    <img src="{{merch.imagen.url}}" height=300 alt="">
                    <div class="card-body" style="background-color:rgb(151, 200, 233);">
                    <h5 class="card-title"> {{merch.nombre}} </h5>
                    <p class="card-text"> {{merch.precio}} </p>
                    <div style="text-align: center">
                        <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-dark"> Añadir al carrito </a>
                    </div>
                    </div>
                </div>

            {% endfor %}
    </section>

{% endif %}


{% if user.staff %}

    <section class="cards_presentacion">
        {% for merch in merchs %}

            <div class="card" style="width: 18rem;">
                <img src="{{merch.imagen.url}}" height=300 alt="">
                <div class="card-body" style="background-color:rgb(151, 200, 233);">
                <h5 class="card-title"> {{merch.nombre}} </h5>
                <p class="card-text"> {{merch.precio}} </p>
                <div style="text-align: center">
                    <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-dark"> Añadir al carrito </a>
                </div>
                </div>
            </div>

        {% endfor %}
    </section>

{% endif %}
    
{% endblock merchandising %}