{% extends 'padre.html' %}


{% block header_novedad %}
    <h1 class="mb-5" style="color: rgb(57, 50, 100);"> Nuestras Novedades </h1>
{% endblock header_novedad %}
    

{% block novedad %}


{% if user.cliente %}

<section class="cards_presentacion">
        {% for novedad in novedades %}

            <div class="card" style="width: 18rem;">
                <img src="{{novedad.imagen.url}}" width=285.5 height=375 alt="imagenes_comics">
                <div class="card-body" style="background-color:rgb(151, 200, 233);">
                <h5 class="card-title"> {{novedad.titulo}} </h5>
                <p class="card-text"> {{novedad.precio}} </p>
                <div style="text-align: center">
                    <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-dark"> Añadir al carrito </a>
                </div>
                </div>
            </div>

        {% endfor %}
    </section>

{% endif %}


{% if not user.staff and not user.cliente %}

<section class="cards_presentacion">
        {% for novedad in novedades %}

            <div class="card" style="width: 18rem;">
                <img src="{{novedad.imagen.url}}" width=285.5 height=375 alt="imagenes_comics">
                <div class="card-body" style="background-color:rgb(151, 200, 233);">
                <h5 class="card-title"> {{novedad.titulo}} </h5>
                <p class="card-text"> {{novedad.precio}} </p>
                <div style="text-align: center">
                    <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-dark"> Añadir al carrito </a>
                </div>
                </div>
            </div>

        {% endfor %}
    </section>

{% endif %}


{% if user.staff %}

<section class="cards_presentacion">
        {% for novedad in novedades %}

            <div class="card" style="width: 18rem;">
                <img src="{{novedad.imagen.url}}" width=285.5 height=375 alt="imagenes_comics">
                <div class="card-body" style="background-color:rgb(151, 200, 233);">
                <h5 class="card-title"> {{novedad.titulo}} </h5>
                <p class="card-text"> {{novedad.precio}} </p>
                <div style="text-align: center">
                    <a href="{% url 'Carrito_de_Compras' %}" class="btn btn-dark"> Añadir al carrito </a>
                </div>
                </div>
            </div>

        {% endfor %}
    </section>

{% endif %}

{% endblock novedad %}