{% extends 'padre.html' %}


{% block header_novedad %}
    <h1 class="mb-5" style="color: rgb(57, 50, 100);"> Nuestras Novedades </h1>
{% endblock header_novedad %}
    

{% block novedad %}


{% if user.cliente %}

    <section class="cards_presentacion">
        {% for novedad in novedades %}
            <div class="card" style="width: 18rem;">
                <img src="{{novedad.imagen.url}}" width=285.5 height=375 alt="imagenes_comics">
                <div class="card-body" style="background-color:rgb(151, 200, 233);">
                    <h5 class="card-title"> {{novedad.titulo}} </h5>
                    <p class="card-text"> $ {{novedad.precio}} </p>
                    <p class="card-text"> <a href="{% url 'Detalles_Novedad' novedad.id %}" style="color: black;"> Ver Detalles </a> </p>
                <div style="text-align: center">
                    <a href="{% url 'Agregar_' novedad.id %}" class="btn btn-dark"> Agregar al carrito </a>
                </div>
                </div>
            </div>
        {% endfor %}
    </section>


{% endif %}



{% if not user.staff and not user.cliente %}

<section class="cards_presentacion">
        {% for novedad in novedades %}

            <div class="card" style="width: 18rem;">
                <img src="{{novedad.imagen.url}}" width=285.5 height=375 alt="imagenes_comics">
                <div class="card-body" style="background-color:rgb(151, 200, 233);">
                <h5 class="card-title"> {{novedad.titulo}} </h5>
                <p class="card-text"> $ {{novedad.precio}} </p>
                <div style="text-align: center">
                    <a href="{% url 'Login' %}" class="btn btn-dark"> Agregar al carrito </a>
                </div>
                </div>
            </div>

        {% endfor %}
    </section>

{% endif %}


{% if user.staff %}

    <div style="text-align: center; margin-top: 15px">
        <a href="{% url 'Agregar_Novedades' %}" class="btn btn-dark"> Agregar Novedad </a>
    </div>

    <section class="cards_presentacion">
        {% for novedad in novedades %}

            <div class="card" style="width: 18rem;">
                <img src="{{novedad.imagen.url}}" width=285.5 height=375 alt="imagenes_comics">
                <div class="card-body" style="background-color:rgb(151, 200, 233);">
                <h5 class="card-title"> {{novedad.titulo}} </h5>
                <p class="card-text"> $ {{novedad.precio}} </p>
                </div>
                <div style="display: flex; column-gap: 10px; margin: auto;">
                    <form action="{% url 'Eliminar_Novedades' novedad.id %}" method="post">{% csrf_token %}
                        <button class="btn btn-dark"> Eliminar </button>
                    </form>
                    <a href="{% url 'Editar_Novedades' novedad.id %}" class="btn btn-dark" type="button"> Editar </a>
                </div>
            </div>

        {% endfor %}
    </section>

{% endif %}

{% endblock novedad %}