{% extends 'padre.html' %}

{% block header_consultas %}
    <h1 class="mb-5" style="color: rgb(57, 50, 100);"> No hay vista aún para esta página </h1>
{% endblock header_consultas %}

{% block consulta %}

    <div style="color: black;">
        <div style="font-size: 25px; margin: auto;">
            <p style="text-align: center;">
                Vuelva hacia atrás o vuelva a intentarlo con " http://127.0.0.1:8000/App-Tercera-Pre-Entrega-Paal/ ". Disculpe las molestias.
            </p>
        </div>
    </div>


{% endblock consulta %}